@charset "UTF-8";

.body{
    font-family: "Noto Sans JP", sans-serif;
}

/* common */
.common-wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.common-wrapper h2{
    font-size: 26px;
    margin: 80px;
    text-align: center;
}

/* header */
.header{
    position: absolute; /*headerの下に画像を配置*/
    padding: 30px;
    width: 95%;
    z-index: 1;
}

.header-inner{
    display: flex; /*要素を横並びする*/
    justify-content: space-between;
    color: white;
}

.header-rogo{
    font-size: 40px;
}

.header-nav{
    display: none;
}

/*×ボタン*/
.batsu {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
  }
  
  .batsu::before, .batsu::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px; /* 棒の幅（太さ） */
    height: 30px; /* 棒の高さ */
    background: #333;
  }
  
  .batsu::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  
  .batsu::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  
/*ハンバーガーボタン*/
.hamburger__btn{
    font-size: 40px;
}

.add-header-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: block;
    width: 30%;
    height: 100vh;
    padding: 20px 0;
    z-index: 2;
}

.add-header-nav li{
    font-weight: normal;
    margin: 50px 0 0 20px;
    font-size: 18px;
}

.add-header-nav{
    display: block; /*ハンバーガーボタンを押した時にメニューを表示*/
    z-index: 2;
    color: black;
}

/* モーダルウィンドウ */

/* mv */
.first-view{
    position: relative;
    width: 100%;
}

.first-view img{
    width: 100%;
}

.mv-text{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
}

/* gallary */
.gallary{
    margin: 100px 0;
}

.gallary-inner{

}

.gallary-block{
    display: flex;
}

.gallary-block-left{
    width: 33%;
}

.gallary-block-center{
    width: 33%;
    margin: 0 20px
}

.gallary-block-right{
    width: 33%;
}

.gallary-block-img{
    margin: 20px 0;
}

.gallary-block-img img{
    width: 100%;
    height: 100%; /*効いていない*/
    object-fit: cover; /*効いていない*/
}

/* contact */
.contact{
    margin: 100px 0;
}

.contact-form-block{
    display: flex;
    justify-content:space-between;
    height: 40px;
    margin: 20px
}

.contact-form-block input,select,textarea{
    width: 50%;
    min-width: 370px;
}

.contact-form-block textarea{
    resize: none;
    height: 100px;
}


/* sns */
.sns{
    display: flex;
    margin: 100px 0;
}

.sns-inner{}

.sns-block-first{
    display: flex;
}

.sns-block-second{
    display: flex;
}

.sns-block-content{
    margin:50px;
    text-align: center;
}

.sns-block-content a{
    display: flex;
    background-color: #9DC5D0;
    padding:20px 30px;
    font-size: 24px;
    width: 200px;
    height: 60px;
    align-items: center;
    align-content: center;
}

.sns-block-content :hover{
    background-color:#335D91;
    color:white;
}

.sns-block-content i{
    margin-right: 20px;
    font-size: 40px;
}

/* footer */
.footer{
    text-align: center;
    padding: 30px 0; 
    background-color:#335D91;
    color:white;
    
}

/* レスポンシブ */
@media screen and (max-width: 800px){
    /* common-mob */
    .common-wrapper{
        max-width: 800px;
    }

    .common-wrapper h2{
        font-size: 30px;
        margin: 30px;
    }

    /* header-mob */
    .header{
        padding: 0px;
        width: 100%;
    }

    .header-rogo{
        font-size: 40px;
    }

    /*×ボタン*/
    
    /*ハンバーガーボタン*/
    .add-header-nav li{
        font-size: 26px;
    }

    /* モーダルウィンドウ */
    
    /* mv-mob */
    .first-view{
        position: relative;
    }

    .first-view img{
        width: 100%;
        height: 100%;
    }

    .mv-text{
        top: 50%;
        right: 0%;
        font-size: 20px;
    }

    /* gallary-mob */
    .gallary-block{
        display: block;
    }

    .gallary-block-left{
        width: 100%;
    }

    .gallary-block-center{
        width: 100%;
        margin: 0px;
    }

    .gallary-block-right{
        width: 100%;
    }

    .gallary-block-img{
        margin: 20px;
        height: 250px;
    }

    .gallary-block-img img{
        object-fit: cover; /*効いていない*/
    }

    /* contact-mob */
    .contact-form-block{
        display: block;
    }

    .contact-form-block input,select,textarea{
        min-width: 100%;
    }

    /* sns-mob */
    .sns{
        display: flex;
    }

    .sns-block-first{
        display: block;
    }

    .sns-block-second{
        display: block;
    }

    /* footer-mob */
    .footer{
        text-align: center;
        padding: 30px; 
        font-size: 12px;
    }   
}



