@charset "UTF-8";

.body{
    font-family: "Noto Sans JP", sans-serif;
}

/* common */
.common-wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.common-wrapper h2{
    font-size: 26px;
    margin: 80px;
    text-align: center;
}

/* header */
.header{
    position: absolute; /*headerの下に画像を配置*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    width: 95%;
    z-index: 1;
    text-align: :center;
    align-items: :center;
    margin:  0 auto;
}

.header-inner{
    display: flex; /*要素を横並びする*/
    justify-content: space-between;
    color: white;
}

.header-rogo{
    font-size: 40px;
}

.header-nav-wrapper{
    display: none;
}

/*×ボタン*/
.batsu {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
}
  
.batsu::before, .batsu::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px; /* 棒の幅（太さ） */
    height: 30px; /* 棒の高さ */
    background: #333;
}
  
.batsu::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
  
.batsu::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
  
/*ハンバーガーボタン*/
.hamburger__btn{
    font-size: 40px;
}

.add-header-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: block;
    width: 30%;
    height: 100vh;
    padding: 20px 0;
    z-index: 2;
}

.add-header-nav li{
    font-weight: normal;
    margin: 50px 0 0 20px;
    font-size: 18px;
    color: black;
}

.add-modal-sp{
    position: fixed; /* *1 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block; /* *3 */
    background-color: #000000aa;
    z-index: 1; /* ※2 */
}

/* mv */
.first-view{
    position: relative;
    width: 100%;
}

.first-view picture{
    width: 100%;
}

.first-view img{
    width: 100%;
}

.mv-text{
    position: absolute;
    /* top: 50%;
    right: 0%;
    transform: translate(-50%,-50%); */
    top: calc((371 / 810) * 100%);
    right: 140px;
    color: white;
    font-size: 40px;
}

/* gallary */
.gallary{
    margin: 100px 0;
}

.gallary-block{
    display: flex;
}

.gallary-block-left{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallary-block-center{
    width: 33%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallary-block-right{
    width: 33%;
    display: flex;
    justify-content: center;
}

.gallary-block-img{
    margin: 20px 0;
}

.gallary-block-img img{
    width: 100%;
    height: 100%; /*効いていない*/
    object-fit: cover; /*効いていない*/
}

/* contact */
.contact{
    margin: 100px 0;
}

.contact-form-block{
    display: flex;
    justify-content:space-between;
    height: 40px;
    margin: 20px
}

.contact-form-block input,select,textarea{
    width: 50%;
    min-width: 370px;
    border: solid 1px black;
    padding: 1px;
    padding-block: 0px;
    padding-inline: 0px;
}

.contact-form-block textarea{
    resize: none;
    height: 100px;
}

/* sns */
.sns{
    display: flex;
    margin: 100px 0;
}

.sns-block-first{
    display: flex;
}

.sns-block-second{
    display: flex;
}

.sns-block-content{
    margin:50px;
    text-align: center;
}

.sns-block-content a{
    display: flex;
    background-color: #9DC5D0;
    padding:20px 30px;
    font-size: 24px;
    width: 200px;
    height: 60px;
    align-items: center;
}

.sns-block-content :hover{
    background-color:#335D91;
    color:white;
}

.sns-block-content i{
    margin-right: 20px;
    font-size: 40px;
}

/* footer */
.footer{
    text-align: center;
    padding: 30px 0; 
    background-color:#335D91;
    color:white;  
}

/* レスポンシブ */
@media screen and (max-width: 767px){
    /* common-mob */
    .common-wrapper{
        max-width: 600px;
    }
    .common-wrapper h2{
        font-size: 30px;
        margin: 30px;
    }

    /* header-mob */
    .header{
        padding: 0px;
        width: 100%;
    }

    .header-inner{
        margin:20px 25px;
    }

    .header-rogo{
        font-size: 40px;
    }
    
    /*ハンバーガーボタン*/
    .hamburger__btn{
        font-size: 40px;
    }
    
    .add-header-nav{
        width: 100%;
    }
    
    .add-header-nav li{
        font-size: 24px;
    }

    /* モーダルウィンドウ */
    .add-modal-sp{
    display: none; 
    }

    /* mv-mob */
    .first-view{
        position: relative;
    }

    .first-view img{
        height: 100vh;
        width: 100vw;
    }

    .mv-text{
        top: calc((371 / 810) * 100%);
        right: 30px;
        font-size: 30px;
    }

    /* gallary-mob */
    .gallary-block{
        display: block;
    }

    .gallary-block-left{
        width: 100%;
    }

    .gallary-block-center{
        width: 100%;
        margin: 0px;
    }

    .gallary-block-right{
        width: 100%;
    }

    .gallary-block-img{
        margin: 20px;
        height: 300px;
    }

    .gallary-block-img img{
        object-fit: cover; 
    }

    /* contact-mob */
    .contact-form-block{
        display: block;
        height: 90px;
        margin: 20px;
    }

    .contact-form-block input,select,textarea{
        min-width: 100%;
        height: 50px;
        margin-top: 10px;
    }

    .contact-form-block textarea{
        height: 130px;
    }

    /* sns-mob */
    .sns{
        display: flex;
    }

    .sns-block-first{
        display: block;
    }

    .sns-block-second{
        display: block;
    }

    .sns-block-content a{
        padding:15px 15px;
        font-size: 22px
    }

    /* footer-mob */
    .footer{
        text-align: center;
        padding: 30px; 
        font-size: 12px;
    }   
}